.blue {
    color: blue;
}

.hulk {
    font-size: 250%;
}

.border{
    border: solid 5px pink;
}

.border-round {
    border-radius: 100px;
}

.bold {
    font-weight: bold;
}

.boldItal {
    font-weight: bold;
    font-style: italic;
}

.block {
    display: block;
}